.champion-row {
  background-color: black;
}

.champion {
  cursor: pointer;
  display: inline-block;
  width: 120px;
}

.champion-image {
  background-image: url(/champions.png);
  width: 120px;
  height: 120px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  filter: brightness(0.75) saturate(100%);
  -webkit-filter: brightness(0.75) saturate(100%);
  -moz-filter: brightness(0.75) saturate(100%);
  -o-filter: brightness(0.75) saturate(100%);
  -ms-filter: brightness(0.75) saturate(100%);
}

.champion:hover .champion-image {
  filter: brightness(1.2) saturate(150%);
  -webkit-filter: brightness(1.2) saturate(150%);
  -moz-filter: brightness(1.2) saturate(150%);
  -o-filter: brightness(1.2) saturate(150%);
  -ms-filter: brightness(1.2) saturate(150%);
}

.champion-selected .champion-image {
  filter: brightness(1.2) saturate(150%);
  -webkit-filter: brightness(1.2) saturate(150%);
  -moz-filter: brightness(1.2) saturate(150%);
  -o-filter: brightness(1.2) saturate(150%);
  -ms-filter: brightness(1.2) saturate(150%);
}

.champion-label-container {
  background-color: black;
  height: 20px;
  text-align: center;
}

.champion-selected .champion-label {
  background-color: #B34802;
}

.champion:hover .champion-label {
  background-color: #B34802;
}

.champion-label {
  background-color: #B34802;
  background-color: rgba(179, 72, 2, .6);
  color: white;
  font-family: Arial;
  font-size: 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height:14px;
  margin: 0 auto;
  position: relative;
  top: 3px;
  width: 80px;
}
