.IndexPage-container {
  width: auto;
}

.IndexPage-champions {
  margin: 0 auto;
  width: 720px;
  -webkit-box-shadow: -9px -8px 5px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: -9px -8px 5px 0px rgba(0,0,0,0.6);
  box-shadow: -9px -8px 5px 0px rgba(0,0,0,0.6);
}

.IndexPage-allchampions {
  min-width: 720px;
  margin: 14px auto -12px auto;
  text-align: center;
}

.IndexPage-allchampions-button {
  color: black;
  font-size: 12px;
}