/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.ContentPage {
  background: #071323; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #071323 14%, #071323 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(14%,#071323), color-stop(100%,#071323)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%, #071323 14%, #071323 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%, #071323 14%, #071323 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 0%, #071323 14%, #071323 100%); /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #071323 14%, #071323 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#071323',GradientType=0 ); /* IE6-9 */
  min-height: 100%;
}

.ContentPage-container {
  background-color: var(--bg-color);
  margin: 0 auto;
  padding: 1px 0 40px;
  max-width: var(--max-content-width);
}

.ContentPage-container h1 {
  color: black;
}

.ContentPage-content {
  margin: 0 10px;
}

.content-title {
  min-width: 720px;
  text-align: center;
}

.jade-content {
  color: black;
  text-align: left;
}

.AboutPage-content {
  background-color: rgba(0, 0, 0, .5);
  color: #B34802;
  min-width: 680px;
  padding: 20px;
}