---
title: About
component: ContentPage
---
.AboutPage-content
  p.
    LoLPacks is a source for downloading League of Legends item sets derived from known sources. There are many great resources for League of Legends builds around the web, but many don't yet provide downloads for item sets. These item sets can easily be dropped into a summoner's champion config directories without having to build them manually in the game. As a prototype, the item sets available here are derived from LoLPro, a trusted source for quality builds. Just click on a champion, choose a build from the dropdown, and click the download button. The source of the build is linked below the dropdown.
  p.
    Champion and item data are pulled from the Riot Games API. That data is used along with champion builds from LoLPro in order to build the downloadable json files.
  p.
    The tech used to build this are Node.js, Express, MongoDB, and React. ES6 (and some ES7) javascript standards are used, using Babel to compile to ES5.
  p.
    LolPacks isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.